<section class="has-background-white">
  <div class="row mt-1">
    <h2 class="title is-1 pt-3 has-text-centered">About Me</h2>
    <div class="columns is-centered m-3">
      <div class="column is-one-third">
        <figure class="image">
          <img src="../../assets/IMG_0077.JPG" class="shadow mx-auto mb-5">
        </figure>
      </div>
      <div class="column is-two-thirds has-text-centered">
        <div class="has-text-justified">
          <article class="message is-info">
            <div class="message-body is-size-5">
              <p class="mt-2">My name is Chris Muzzin and I'm a full time Front End Developer who enjoys creating
                organized solutions.</p>
              <p class="mt-2">I guess you're here because you want to know more about me, huh?</p>
              <p class="mt-2">I love music, dogs, gaming, coding, hiking, soccer (watching and playing) , and being a
                part time beach bum (although I prefer this to be full-time).</p>
              <p class="mt-2">Currently, I am a Front End Developer for Dillard’s Headquarters and dabble into my own
                side projects for self learning.
                At Dillard’s I develop internal web applications that cater to setting up data to our eComm website and
                marketing campaigns.
                I work closely with our users in order find out how I can best fit their needs and make their lives
                easier.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
