<section class="has-text-centered">
  <div class="container">
    <div class="columns is-multiline is-centered is-vcentered m-1">
      <div class="column is-half">
        <figure class="image">
          <img src="https://firebasestorage.googleapis.com/v0/b/website-86266.appspot.com/o/HikingWithAhsokaLanscape.JPG?alt=media&token=a11a2dcc-28d2-446f-b6b5-81a531eff04b" class="mx-auto">
        </figure>
      </div>
      <div class="column is-half">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Chris. Nice to meet you.</h1>
        <h2 class="subtitle is-size-5-desktop">
         I'm a full time Front-end Developer who enjoys creating organized solutions.
          A few of my hobbies include soccer (watching and playing), boxing, snow boarding, live music,
          gaming, and traveling. </h2>
      </div>
    </div>
  </div>
</section>
