<header>
  <nav class="navbar is-dark is-sticky">
    <div class="container">
      <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <a href="../../assets/Chris_Muzzin_Resume.pdf" class="navbar-item">
            <i class="fa fa-download fa-3x"></i>
            <span class="push-right resume-link">Resume</span>
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="https://www.linkedin.com/in/christopher-muzzin-052346107/">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
          </a>
          <a class="navbar-item" href="https://github.com/cmuzzin">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </a>
          <a class="navbar-item" href="https://codepen.io/cmuzzin/">
            <i class="fa fa-codepen fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero is-large is-dark">
    <div class="hero-bg mobile">
      <div class="hero-head">
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Chris Muzzin
          </h1>
          <h2 class="subtitle is-3">
            Front End Developer
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>

