.hero-image {
  background-image: url("../../assets/header-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.navbar-menu {
  background: none !important;
  .navbar-item {
    &:hover {
      opacity: .7;
    }
  }
}

.is-sticky{
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

@media screen and (min-width: 1088px) {
  .navbar.is-spaced {
    padding: 1rem 2rem;
  }
}

