.hero-bg {
  height: auto;
  width: auto;
  background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("../../assets/header-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.navbar-menu {
  background: none !important;
  box-shadow: none !important;
  .navbar-item {
    color: white;
    &:hover {
      background-color: #292929;
      color: whitesmoke;
    }
    .link-text{
      font-size: 1.5em;
    }
  }
}

.is-sticky{
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  background: #394053;
}

@media (max-width: 768px){
  .mobile {
    background-color: #394053;
    background-image: none;
  }
}
