.hero-image {
  background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("../../assets/header-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;

  .hero-head{
    .navbar-menu {
      background: none !important;
      box-shadow: none !important;
      .navbar-item {
        &:hover {
          opacity: .9;
        }
        .resume-link{
          font-size: 2em;
        }
      }
    }
  }
}


