 <div class="columns is-multiline">
    <div class="column is-10 is-offset-1">
        <div class="card has-background-primary">
            <div class="card-content">
                <p class="title">MOPS - Marking operations</p>
                <p class="subtitle has-text-white">Creation of Marketing Campaigns</p>
            </div>
            <div class="card-image">
                <swiper-container navigation="true" pagination="true">
                    @for(photo of mopsPhotos; track photo) {
                        <swiper-slide>
                            <figure class="image is-2by1">
                                <img [src]="photo">
                            </figure>
                        </swiper-slide>
                    }
                </swiper-container>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="card has-background-info">
            <div class="card-content equal-height">
                <p class="title">MCM - Marketing Campaign Manager</p>
                <p class="subtitle has-text-white">Schduling and Campaign Content Management</p>
            </div>
            <div class="card-image">
                <swiper-container navigation="true" pagination="true">
                    @for(photo of mcmPhotos; track photo) {
                        <swiper-slide>
                            <figure class="image is-2by1">
                                <img [src]="photo">
                            </figure>
                        </swiper-slide>
                    }
                </swiper-container>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="card has-background-success">
            <div class="card-content equal-height">
                <p class="title">SPC - Store planning</p>
                <p class="subtitle has-text-white">Store Planning and Inventory</p>
            </div>
            <div class="card-image">
                <swiper-container navigation="true" pagination="true">
                    @for(photo of spcPhotos; track photo) {
                        <swiper-slide>
                            <figure class="image is-2by1">
                                <img [src]="photo">
                            </figure>
                        </swiper-slide>
                    }
                </swiper-container>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="card has-background-link-dark">
            <div class="card-content equal-height">
                <p class="title">Roast My Coffee House</p>
                <p class="subtitle has-text-white">Mobile App</p>
            </div>
            <div class="card-image">
                <swiper-container navigation="true" pagination="true" slides-per-view="5">
                    @for(photo of rmchPhonePhotos; track photo) {
                        <swiper-slide class="mobile-swiper-slide">
                            <figure class="image">
                                <img class="mobile" [src]="photo">
                            </figure>
                        </swiper-slide>
                    }
                </swiper-container>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="card has-background-link">
            <div class="card-content equal-height">
                <p class="title">Roast My Coffee House</p>
                <p class="subtitle has-text-white">Tablet App</p>
            </div>
            <div class="card-image">
                <swiper-container navigation="true" pagination="true" slides-per-view="2">
                    @for(photo of rmchTabletPhotos; track photo) {
                        <swiper-slide  class="tablet-slide">
                            <figure class="image">
                                <img [src]="photo">
                            </figure>
                        </swiper-slide>
                    }
                </swiper-container>
            </div>
        </div>
    </div>
  </div>
