<header>
  <div class="hero hero-bg is-large is-primary">
    <div class="mobile">
      <div class="hero-head">
        <nav class="navbar" [ngClass]="{'is-sticky': isSticky}" [@stickyNav]>
          <div class="container">
            <div class="navbar-brand">
            <span class="navbar-burger burger has-text-white" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
            </div>
            <div id="navbarMenu" class="navbar-menu" [ngClass]="{'navbar-menu-background-sticky': isSticky}">
              <div class="navbar-start">
                <a href="../../../../assets/Chris%20Muzzin%20Resume.pdf" class="navbar-item">
                  <i class="fa fa-download fa-2x"></i>
                  <span class="ml-2 link-text">Resume</span>
                </a>
              </div>
              <div class="navbar-end">
                <a class="navbar-item" href="https://www.linkedin.com/in/christopher-muzzin-052346107/">
                  <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                  <span class="ml-2 link-text">Linked In</span>
                </a>
                <a class="navbar-item" href="https://github.com/cmuzzin">
                  <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                  <span class="ml-2 link-text">Github</span>
                </a>
                <a class="navbar-item" href="https://codepen.io/cmuzzin/">
                  <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
                  <span class="ml-2 link-text">Code Pen</span>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Chris Muzzin
          </h1>
          <h2 class="subtitle is-3">
            Front End Developer
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>

