<section id="gallery" class="m-1" *ngIf="gallery">
<div class="container is-fluid">
  <button class="button is-dark-blue is-outlined is-inline" [routerLink]="['/home']">Back</button>
  <div class="buttons has-addons is-inline ml-3">
  <span class="button" [ngClass]="{'is-dark-blue is-focused': activeGallery === gallery.id}" *ngFor="let gallery of galleries; let i = index" (click)="onGalleryClick(gallery.id, i)">
    <i class="fa {{gallery.icon}}" *ngIf="gallery.icon"></i>
  </span>
  </div>
  <article class="message is-dark-blue mt-3">
    <div class="message-body">
      <h2 class="title is-size-1-desktop is-size-3-mobile">{{gallery.name}}</h2>
      <p class="subtitle is-size-5-desktop">
       {{gallery.description}}
      </p>
      <!-- <p *ngIf="gallery.external_url">
        <a class="button is-dark-blue" href="{{gallery.external_url}}" target="_">Check it out</a>
      </p> -->
    </div>
  </article>
  <div class="columns is-multiline is-vcentered mt-3">
    <div class="column is-one-quarter" *ngFor="let image of gallery.images">
        <div class="card">
          <div class="card-content">
            <figure class="image is-3by2">
              <img src="{{image.url}}" alt="Placeholder image">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" (click)="onViewClick(image)">{{image.view}}</a>
          </footer>
      </div>
    </div>
  </div>
</div>
<app-modal [images]="gallery.images"
           [activeImage]="activeImage"
           [isActive]="modalVisibility"
           (onModalChange)="handleModalChange($event)"
           *ngIf="modalVisibility">
</app-modal>
</section>
