<section id="gallery" class="m-3" *ngIf="gallery">
<div class="container is-fluid">
  <button class="button is-dark-blue is-outlined" [routerLink]="['/home']">Back To Home</button>
  <article class="message is-dark-blue mt-3">
    <div class="message-body">
      <h2 class="title is-size-1-desktop is-size-3-mobile">{{gallery.name}}</h2>
      <p class="subtitle is-size-5-desktop">
       {{gallery.description}}
      </p>
    </div>
  </article>
  <div class="columns is-multiline is-vcentered mt-3">
    <div class="column is-one-quarter" *ngFor="let image of gallery.images">
        <div class="card">
          <div class="card-content has-text-centered">
            <figure class="image is-4by3">
              <img src="{{image.url}}" alt="Placeholder image">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" (click)="onViewClick(image)">{{image.view}}</a>
          </footer>
      </div>
    </div>
  </div>
</div>
<app-modal [images]="gallery.images"
           [activeImage]="acttiveImage"
           [isActive]="modalVisibility"
           (onModalChange)="handleModalChange($event)"
           *ngIf="modalVisibility">
</app-modal>
</section>
