@import '../../../../variables.scss';

.scrollTo {
  position: fixed;
  opacity: 0;
  text-align: center;
  transition: .5s linear all;
  z-index: 1071;
  &.top {
    bottom: 15px;
    right: 17px;
  }

  &.bottom {
    bottom: 15px;
    right: 17px;
  }

  i {
    font-size: 40px;
    color: $grey-light;
    cursor: pointer;
  }

  &.visible {
    opacity: 1;
  }
}
