<!-- <div id="scrollToBottom" [ngClass]="{visible: toBottom}" class="scrollTo bottom">
  <i *ngIf="toBottom" class="fas fa-arrow-circle-down text-primary" (click)="scrollBottom()" ngbTooltip="Scroll to Bottom" placement="left" container="body"></i>
</div> -->
<div id="scrollToTop" [ngClass]="{'visible top': toTop , 'bottom': !toBottom}" class="scrollTo">
  <i
    *ngIf="toTop"
    class="fas fa-arrow-circle-up text-primary"
    (click)="scrollTop()"
    ngbTooltip="Scroll to Top"
    placement="left"
    container="body"></i>
</div>

