<section id="experience" class="has-text-centered">
  <div class="container">
    <h2 class="title is-spaced is-size-2-desktop is-size-4-mobile">Experience</h2>
    <div class="columns is-multiline is-centered m-1">
      <div class="column is-half">
        <h2 class="subtitle is-size-5-desktop">Dillard's</h2>
        <article class="message is-dark-blue">
          <div class="message-body">
            <p class="subtitle is-size-5-desktop">Worked as a UX Front-end Developer building internal intranet applications using AngularJS, Angular, Bootstrap.</p>
          </div>
        </article>
      </div>
      <div class="column is-half">
        <h2 class="subtitle is-size-5-desktop">BAE Systems</h2>
        <article class="message is-dark-blue">
          <div class="message-body">
            <p class="subtitle is-size-5-desktop">Currently a core Front-end Software Engineer for the GXP division building scalable UI's using React.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
