<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let collection of collection">
        <div class="card-header clickable" (click)="toggleCollection(collection)">
          <p class="card-header-title is--size-2">{{collection.collection}}
            <span *ngIf="collection.wip" class="tag is-info is-small push-right">In Development</span></p>
          <a class="card-header-icon" aria-label="more options" >
      <span class="icon">
        <i class="fa" [ngClass]="collection.toggle ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </span>
          </a>
        </div>
        <div class="card-content" [@collapse]="collection.toggle ? 'open' : 'closed'">
          <article class="message is-dark">
            <div class="message-body">
              {{collection.description}}
            </div>
          </article>
          <div *ngFor="let img of collection.images">
            <hr>
            <figure class="image is-2by1">
              <img src="{{img.src}}">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

