<section class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="card" *ngFor="let collection of collection">
      <div class="card-header">
        <p class="card-header-title is--size-2">{{collection.collection}}</p>
      </div>
      <div class="card-content">
        <div *ngFor="let img of collection.images">
          <p class="subtitle">{{img.title}}</p>
          <figure class="image is-2by1">
            <img src="{{img.src}}">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

