<section class="">
  <h1 class="title has-text-centered" style="margin-top: 20px">Portfolio</h1>
  <div class="row">
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Item Web
            </p>
          </header>
          <div class="card-image has-text-centered">
            <i class="fa fa-tag"></i>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">View</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              MCM
            </p>
          </header>
          <div class="card-image has-text-centered">
            <i class="fa fa-calendar"></i>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">View</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              SPC
            </p>
          </header>
          <div class="card-image has-text-centered">
            <i class="fa fa-building"></i>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">View</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              MOPS
            </p>
          </header>
          <div class="card-image has-text-centered">
            <i class="fa fa-dollar"></i>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">View</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              My Spotify
            </p>
          </header>
          <div class="card-image has-text-centered">
            <i class="fa fa-spotify"></i>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">View</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
