<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info">
              <i-feather class="ml-1" name="mail"></i-feather>
            </a>
            <a class="button is-dark">
              <i-feather class="ml-1" name="github"></i-feather>
            </a>
            <a class="button is-link">
              <i-feather class="ml-1" name="linkedin"></i-feather>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Chris Muzzin</p>
    <p class="subtitle">Front End Software Engineer </p>
  </div>
</section>
<router-outlet />
