<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="navbar-item" routerLink="/career" routerLinkActive="active">
        Career
      </a>
      <a class="navbar-item" routerLink="/projects" routerLinkActive="active">
        Projects
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet />
</div>
