<article class="message is-info mt-3">
    <div class="message-body">
        For more details on projects, navigate to projects page.
    </div>
  </article>

<div class="fixed-grid has-1-cols-mobile has-3-cols-desktop">
    <div class="grid mt-5 gap-2">
        <div class="cell m-3">
            <div class="card equal-height">
                <div class="card-image">
                    <figure class="image is-3by1">
                      <img
                        src="graphics/dillards.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                <div class="card-content equal-height">
                    <p class="title">Dillards Inc.</p>
                    <p class="subtitle">UX Front End Develeoper</p>
                    <div class="content mt-5">
                        <p>At Dillards, I  was embedded across multiple agile teams creating scaleable single page web applocations using Angular.</p>
                        <h2>Projects</h2>
                        <ul> 
                            <li>Careers - job posting creation</li>
                            <li>MOPS - markering operations</li>
                            <li>MCM - marketing campaign manager</li>
                            <li>SPC - store planning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell m-3">
            <div class="card equal-height">
                <div class="card-image">
                    <figure class="image is-3by1">
                      <img
                        src="graphics/bae.png"
                        alt="Placeholder image"
                      />
                    </figure>
                </div>
                <div class="card-content equal-height">
                    <p class="title">BAE Systems Inc.</p>
                    <p class="subtitle">Software Engineer 2 - Front End</p>
                    <div class="content mt-5">
                        <p>At BAE, I was a core engineer for the Geospatial Exploitation Platform (GXP) building scalable UIs and components using React, Material UI, and many other NPM packages.</p>
                        <h2>Projects</h2>
                        <ul>
                            <li><a href="https://www.geospatialexploitationproducts.com/content/gxp-xplorer-platform/gxp-xplorer/">GXP Xplorer</a></li>
                            <li><a href="https://www.geospatialexploitationproducts.com/content/gxp-xplorer-platform/gxp-webview/">GXP Webview</a></li>
                            <li><a href="https://www.geospatialexploitationproducts.com/content/common-intelligence-picture-gxp-fusion/">GXP Fusion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell m-3">
            <div class="card equal-height">
                <div class="card-image">
                    <figure class="image has-background-white is-flex is-justify-content-center">
                      <img
                        class="w"
                        src="graphics/rmch.png"
                        alt="Placeholder image"
                      />
                    </figure>
                </div>
                <div class="card-content equal-height">
                    <p class="title">Roast My Coffee House</p>
                    <p class="subtitle">Founder / Tech Lead</p>
                    <div class="content mt-5">
                        <p>
                            Hybrid web/mobile app using Ionic and Angular that helps users locate, find information, and leave reviews about local coffee roasters.
                        </p>
                        <div class="buttons">
                            <a class="button" href="https://apps.apple.com/us/app/roast-my-coffee-house/id6468330603">
                                iOS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell m-3">
            <div class="card equal-height">
                <div class="card-image">
                    <figure class="image is-flex is-justify-content-center">
                      <img
                        class="w"
                        src="graphics/pulseor.svg"
                        alt="Placeholder image"
                      />
                    </figure>
                </div>
                <div class="card-content equal-height">
                    <p class="title">Pulse OR</p>
                    <div class="content mt-5">
                        <p>
                            Mobile app that digitalizes surgical preference cards using Ionic and Angular.
                        </p>
                        <article class="message is-info">
                            <div class="message-body">
                              In development
                            </div>
                          </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>