<footer class="footer">
  <div class="container-fluid">
    <div class="content has-text-centered">
      <p class="is-size-5">
        &copy; Chris Muzzin 2018
      <span class="footer-icons">
        <a class="icon" href="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="icon" href="">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="">
          <i class="fa fa-codepen"></i>
        </a>
      </span>
      </p>
    </div>
  </div>
</footer>
