<footer class="footer">
  <div class="container-fluid">
    <div class="content has-text-centered">
      <p>
        <span class="is-size-3"> &copy; Chris Muzzin 2018</span>
        <span class="footer-icons">
        <a class="icon ml-4" href="">
          <i class="fa fa-linkedin-square fa-3x"></i>
        </a>
        <a class="icon ml-4" href="">
          <i class="fa fa-github-square fa-3x"></i>
        </a>
        <a class="icon ml-4" href="">
          <i class="fa fa-codepen fa-3x"></i>
        </a>
      </span>
      </p>
    </div>
  </div>
</footer>
