/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bulma/bulma";
@import "~bulma-divider/dist/css/bulma-divider";
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import "scss/utilities";

section {
  border-bottom: 1px solid #f1f1f1;
  padding: 65px 0;
}

.social-icons a.button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 .2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  &:hover {
  background: #fff;
  color: $dark-blue;
  border: 2px solid #fff;
}
}
