/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "app/shared/css/utilities";


body{
  background: #EFF3F4;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css?family=Open+Sans) format("truetype");
}

.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.is-spotify {
  background-color: transparent;
  border-color: #23d160 !important;
  color: #23d160 !important;
  &:hover, &:focus{
    background-color: #23d160;
    color: #fff !important;
  }
}
