/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-divider/dist/css/bulma-divider";
@import "../node_modules/bulma-carousel/dist/css/bulma-carousel";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "app/scss/utilities";


.light-grey {
  background-color: #f6f6f6;

}

section {
  border-bottom: 1px solid #f1f1f1;
  padding: 65px 0;
  .row {
    margin: 30px;
  }
}

footer .footer-icons a.button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 .2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  &:hover {
  background: #fff;
  color: $main;
  border: 2px solid #fff;
}
}
