@import "margins";
@import "padding";
@import "box-shadow";
@import "overlay";

.clickable {
  cursor: pointer;
}
ul {
  list-style-type: none !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}
