@import "margins";
@import "padding";
@import "box-shadow";

.clickable {
  cursor: pointer;
}
ul {
  list-style-type: none !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
