<section class="container">
  <h2 class="title has-text-centered" style="margin-top: 20px">Experience and Skills</h2>
  <div class="columns push-around" id="skills">
    <div class="column">
      <div class="card has-text-centered">
        <div class="card-image">
          <i class="fa fa-code"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Frameworks </h4>
            <div class="columns">
              <div class="column is-half">
                <ul>
                  <li>Angular</li>
                  <li>Angular JS</li>
                  <li>jQuery</li>
                  <li>Ionic</li>
                </ul>
              </div>
              <div class="column is-half">
                <ul>
                  <li>Bootstrap</li>
                  <li>Bulma</li>
                  <li>Semantic</li>
                  <li>Material</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card has-text-centered">
        <div class="card-image">
          <i class="fa fa-paint-brush"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>UX</h4>
            <ul>
              <li>Process flow / mock-ups / wire frames</li>
              <li>Photoshop / Illustrator / Balasmic</li>
              <li>User Discovery</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card has-text-centered">
        <div class="card-image">
          <i class="fa fa-wrench"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Relevant Tools</h4>
            <ul>
              <li>Git / Gitlab / Codehub / TFS</li>
              <li>Utilizing REST APIs</li>
              <li>Node / NPM/ / Firebase</li>
              <li>Google Tag Manager / Analytics</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns push-around" id="experience">
    <div class="column">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-user-circle-o"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Online Portfolio</h4>
            <p>Design, code, and maintain my personal website to practice modem web practices.</p>
            <p>
              <a class="button is-link is-outlined is-block" href="https://github.com/cmuzzin/Portfolio">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-spotify"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>My Spotify</h4>
            <p>Developed a web application that utilizes Spotify's API and demonstrates a lot of functionality found on the Spotify web player. </p>
            <p>
              <a class="button is-link is-outlined is-block" href="https://github.com/cmuzzin/My-Spotify">Learn more</a>
            </p>
            <p>
              <a class="button is-spotify is-outlined is-block" href="https://littyspot.com/home" target="_blank">
                Check it out!
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-building"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Dillard's </h4>
            <p>Create initial wireframes, provide mock-ups, and build out applications using HTML, SCSS, and JavaScript.</p>
            <p>Mock ups i've worked on can be found under the forked section of my <a
              href="https://codepen.io/cmuzzin/pens/forked/?sort_col=item_updated_at">CodeHub
              profile.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container" id="contact">
  <h2 class="title has-text-centered">Contact</h2>
  <div class="columns push-around">
    <div class="column">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" style="padding-bottom: 10px">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">From</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name" name="name" id="name" formControlName="name"
                       [ngClass]="{'is-danger': formErrors.name}">
                <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
              </p>
              <p class="help is-danger is-small">{{formErrors.name}}</p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" name="email" id="email" formControlName="email"
                       [ngClass]="{'is-danger': formErrors.email}">
                <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
              </p>
              <p class="help is-danger is-small">{{formErrors.email}}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Subject</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Subject" name="subject" id="subject" formControlName="subject"
                       [ngClass]="{'is-danger': formErrors.subject}">
              </div>
              <p class="help is-danger is-small">{{formErrors.subject}}</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Question</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                            <textarea class="textarea"
                                      placeholder="Leave a me a message"
                                      name="message"
                                      id="message"
                                      formControlName="message"
                                      maxlength="251"
                                      [ngClass]="{'is-danger': formErrors.message}">

                            </textarea>
              </div>
              <p class="help is-danger is-small">{{formErrors.message}}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-dark is-pulled-right" [disabled]="form.invalid">
                  Send message
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
