<section>
  <div class="row">
    <h2 class="title is-1 m-4 has-text-centered">About Me</h2>
    <div class="columns">
      <div class="column is-two-fifths">
        <figure class="image">
          <img src="../../assets/about-me-image.JPG" class="shadow mx-auto">
        </figure>
      </div>
      <div class="column is-three-fifths has-text-centered">
        <div class="has-text-justified">
          <div class="section-body m-4">
            <p class="mt-2">My name is Chris Muzzin and I'm a full time Front End Developer who enjoys creating
              organized solutions.</p>
            <p class="mt-2">A few things I enjoy are live music, dogs, gaming, coding, hiking, watching and playing soccer, boxing, snow boarding, and traveling.</p>
            <p class="mt-2">Currently, I am a Front End Developer for Dillard’s Headquarters and dive into my own
              side projects for self learning.
              At Dillard’s, I develop internal web applications that cater to setting up data for our eCommerce website and marketing campaigns.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="light-grey">
  <div class="row">
    <div class="columns">
      <div class="column is-one-third has-text-centered is-clipped">
        <h2 class="title is-1">Stats</h2>
        <i class="fa fa-keyboard-o fa-lg" aria-hidden="true"></i>
      </div>
      <div class="column is-one-third">
        <h3 class="subtitle is-3">Javascript</h3>
        <div class="columns is-multiline">
          <div class="column is-half">
            <label class="label">Angular</label>
            <progress class="progress is-info" value="90" max="100">90%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Angular JS</label>
            <progress class="progress is-info" value="90" max="100">90%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Ionic</label>
            <progress class="progress is-info" value="50" max="100">50%</progress>
          </div>
          <div class="column is-half">
            <label class="label">jQuery</label>
            <progress class="progress is-info" value="55" max="100">55%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Node.js</label>
            <progress class="progress is-info" value="20" max="100">20%%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Typescript</label>
            <progress class="progress is-info" value="75" max="100">75%%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Vue JS</label>
            <progress class="progress is-info" value="25" max="100">25%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Vanilla JS</label>
            <progress class="progress is-info" value="75" max="100">75%%</progress>
          </div>
        </div>
      </div>
      <div class="is-divider-vertical"></div>
      <div class="column is-one-quarter">
        <h3 class="subtitle is-3">CSS</h3>
        <div class="columns is-multiline">
          <div class="column is-half">
            <label class="label">Bootstrap</label>
            <progress class="progress is-primary" value="100" max="100">100%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Bulma</label>
            <progress class="progress is-primary" value="100" max="100">100%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Material</label>
            <progress class="progress is-primary" value="25" max="100">25%</progress>
          </div>
          <div class="column is-half">
            <label class="label">SASS</label>
            <progress class="progress is-primary" value="50" max="100">50%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Scss</label>
            <progress class="progress is-primary" value="75" max="100">75%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Semantic</label>
            <progress class="progress is-primary" value="35" max="100">40%</progress>
          </div>
          <div class="column is-half">
            <label class="label">Vanilla</label>
            <progress class="progress is-primary" value="75" max="100">75%</progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <h2 class="title is-1 has-text-centered">Experience</h2>
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="subtitle is-3">My Spotify</h2>
        <p class="mt-3 has-text-justified">Developed a web application that utilizes Spotify's API and demonstrates a
          lot of functionality found on the Spotify web player.
          Built with Angular and Bulma.
        </p>
        <p class="mt-3 mb-3">
          <a class="button is-link is-outlined" href="https://github.com/cmuzzin/My-Spotify">Github
            <i class="fa fa-external-link ml-2" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle is-3">Website</h2>
        <p class="mt-3">Build and maintain my personal website to practice and explore web design techniques. This site
          is powered by Angular, Bulma, Nodemailer, and Firebase.</p>
        <p class="mt-3 mb-3"><a class="button is-link is-outlined" href="https://github.com/cmuzzin/Portfolio">Github
          <i class="fa fa-external-link ml-2" aria-hidden="true"></i>
        </a>
        </p>
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle is-3">Dillard's</h2>
        <p class="mt-3">
          Embedded in multiple agile teams working closely with developers, business analysts, and QA's to build
          consistent, usable, and logical interfaces for users. Primarily spend my time building out Angular and Angular
          JS single page applications.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="light-grey contact">
  <div class="row">
    <div class="container">
      <h2 class="title is-1 has-text-centered">Contact</h2>
      <div class="columns m-3">
        <div class="column">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" style="padding-bottom: 10px">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Name" name="name" id="name" formControlName="name"
                           [ngClass]="{'is-danger': formErrors.name}">
                    <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
                  </p>
                  <p class="help is-danger is-small">{{formErrors.name}}</p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" name="email" id="email"
                           formControlName="email"
                           [ngClass]="{'is-danger': formErrors.email}">
                    <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
                  </p>
                  <p class="help is-danger is-small">{{formErrors.email}}</p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Subject" name="subject" id="subject"
                           formControlName="subject"
                           [ngClass]="{'is-danger': formErrors.subject}">
                  </div>
                  <p class="help is-danger is-small">{{formErrors.subject}}</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                            <textarea class="textarea"
                                      placeholder="Leave a me a message"
                                      name="message"
                                      id="message"
                                      formControlName="message"
                                      maxlength="251"
                                      [ngClass]="{'is-danger': formErrors.message}">

                            </textarea>
                  </div>
                  <p class="help is-danger is-small">{{formErrors.message}}</p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button type="submit" class="button is-link is-pulled-right" [disabled]="form.invalid">
                      Send message
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>






