<div class="modal" [ngClass]="{'is-active': isActive}">
  <div class="modal-background"></div>
  <div class="modal-card m-3">
    <header class="modal-card-head">
        <p class="modal-card-title">
          {{activeImage.view}}
          <span class="ml-5">{{activeImage.id}} / {{images.length}}</span>
        </p>
        <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body p-0">
        <img src="{{activeImage.url}}">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary is-outlined" (click)="onPrev()" [disabled]="prevBtnDisabled">Prev</button>
      <button class="button is-primary is-outlined ml-1" (click)="onNext()" [disabled]="nextBtnDisabled">Next</button>
    </footer>
  </div>
</div>
